<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.pi1grim.ea.mapper.ResultMapper">
    <insert id="insResult">
        INSERT IGNORE INTO result(user_id, stu_id, qq_number, notes, content, post_time, score, status, data_type)
            VALUE(#{userId}, #{stuId}, #{qqNumber}, #{notes}, #{content}, #{postTime}, #{score}, #{status}, #{dataType})
    </insert>
</mapper>
